*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    background: radial-gradient(#fff, #ffd6d6);
}


.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo{
    padding-top: 8px;
    animation: looping 2.5s linear infinite;
}
/*
.logo:hover{
    animation: looping 2s linear infinite;
}*/


nav {
    flex: 1;
    text-align: right; 
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.adminWrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #FAF3DD;
    border-radius: 20px;
    min-height: 450px;
    overflow: hidden;
}

.adminMenu {
    max-width: 150px;
    height: 50%; /*epitides gia to sticky*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.adminTable {
    border-radius: 20px;
    margin-right: 1%;
    margin-left: 1%;
}

.adminTable table{
    margin-top: 3%;
    background-color: #C8D5B9;
    border-radius: 20px;
    margin-bottom: 3%;
}

.adminTable table tr,
.adminTable table th{
    border-bottom: 1px solid black;
    padding: 0 10px;
}

.adminMenu ul {
    display: block;
    list-style-type: none;
}

.adminMenu li {
    text-align: center;
    padding: 20px 20px;
}

.adminMenu a {
    width: 100px;
    height: 100px;
    color: black;
    background-color: #C8D5B9;
    display: inline-block;
    padding: 25px 20px;
    line-height: normal;
    border-radius: 100px;
    transition: 0.5s;
}

.adminMenu a:hover {
    transform: scale(1.3);
}

/*user update form css*/
.container {

    padding: 16px;
    background-color: white;
    margin: 50px 25%;
}

.container input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.container #id, #pass{
    display: none;
}

.container input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr user update form */
.container hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.fa-trash{
    font-size:25px !important;
    color:grey;
}

.fa-trash:hover {
    color: red;
}
/* Set a style for the user update button */
.updatebtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.userTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.userTable td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.userTable tr:nth-child(even) {
    background-color: #dddddd;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.wrapper {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: min-content;
}
.cart{
    margin: -13% -30%;

}
.cart img{
    position: relative;
    right: 8px;
    top: 2px;
}

.avatar {
    vertical-align: middle;
    width: 42px;
    /*  height: 50px;*/
    border-radius: 25%;
}

.btn-prof{
    display: inline-block;
    color: #fff;
    padding: 0px;
    margin: 0;
    border-radius: 30px;
    transition: 0.5s;
}

.col-2 {
    flex-basis: 30%;
    min-width: 300px;
    padding-left: 50px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: black;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #563434;
}

.chat{
    position: fixed;
    bottom: 50px;
    margin-left: 90%;
    z-index: 999;
}
.chatButton {

    border-radius: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
    display: block;
    /*font-family: sans-serif;*/
    font-family: 'Dancing Script', cursive;
    font-size: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.chatButton {
    animation: glowing 1300ms infinite;
    color:#fff;
}
.chat h2{
    color: #FED766;
}

.blink {
    animation: blinker 3s linear infinite;
    color: #00B295;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.logout input{
    border: none;
    font-size: inherit;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    transition: 0.5s;

    background: black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;

}
.logout input:hover{
    background: #563434;
}

.row {
    margin-top: 80px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.wrapper2 {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

ul {
    list-style-type: none;
}

.col-2 ul li{
    display: inline-block;


}

.col-2 ul li img {
    padding: 5px;
}

.slidershow {
    flex-basis: 100%;
    min-width: 300px;
    padding-left: 50px;
    overflow: hidden;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    max-width: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}

#prodtitle {
    margin-left: 25px;
    text-decoration: underline;
}

.button {
    margin-left: 50px;
}

.cart-button{
    color: #eee;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}

.col-4 {
    flex-basis: 30%;
    min-width: 300px;
    padding-left: 50px;
}

.col-4 img {
    max-width: 100%;
    cursor:zoom-in;
}

.overlay {
    position: relative;  
    bottom: 95px;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    padding-left: 50px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;

}

.col-4:hover .overlay{
    opacity: 0.7;
}

.col-4 img:hover {
    opacity: 0.6;
} 

.col-4 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/* #modal {
    position: absolute;
    top: 0;
    left: 0;
} */

.popup {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.75);
    display:none;
    z-index: 1;
}

.popup .popup-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    padding:10px 20px;
    background:#eee;
}

.popup a.close-popup {
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
    font-weight:600;
    text-decoration:none;
}

.popup:target {
    display:block;

}

.modal-image{
    width: 100%;
    height: auto;
}

#pp {
    height: 230px;
}

.copyright{
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.columnAboutUs {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

div.desc {
    /*     padding: 15px; */
    text-align: center;
}
.cartbtn {
    display: inline-block;
    /*    margin-left: 185px;*/
    background: black;

    border: none;
    padding: 5px 10px;
    cursor: pointer;
    /* transition: 0.5s; */
}
.cartbtn a{
    color: #fff;
}

.cartbtn:hover, .dropdown:hover .cartbtn {
    background-color: rgba(0, 0, 0, 0.61);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f146;*/
    min-width: 100%;
    padding: 5px 0px;
    /*padding: 5px 10px;*/
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #5f5a5a71}

.dropdown:hover .dropdown-content {
    display: block;
}


#wrong{
    color: red;
    position: relative;
    left: 68%;
    height: 30px;
}
@keyframes looping {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes glowing {
    0% {
        /*background-color: #2ba805;*/
        background-color:#00B295;
        box-shadow: 0 0 3px #00B295;
    }
    50% {
        background-color: #00B295;
        box-shadow: 0 0 10px #00B295;
    }
    100% {
        background-color:#00B295;
        box-shadow: 0 0 3px #00B295;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 650px) {
    .columnAboutUs {
        width: 100%;
        display: block;
    }

    .col-4 {
        flex-basis: 30%;
        padding-bottom: 70px;
    }

    .row {
        display:contents;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        height: min-content;
    }

    .adminTable {
        overflow-y: visible;
        border-radius: 20px;
        margin-right: 1%;
        margin-left: 1%;
        overflow-y: scroll;

    }

    .adminWrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: #FAF3DD;
        border-radius: 20px;
        min-height: 450px;
        overflow: visible!important;

    }

    .container {
        padding: 16px;
        background-color: white;
        margin: 50px 5%;
    }

}
.admin-form-container{

    background-color: #C8D5B9;
    border-radius: 20px;
    width: 700px;
    height: 100%;
    margin-right: 15px;
    margin-top: 10px;

}
.admin-form-container form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;

}
.admin-form-container input{
    text-align: center;
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.admin-form-container button {
    border-radius: 20px;
    border: 1px solid #C8D5B9;
    background-color: #FF416C;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.admin-form-container button:active {
    transform: scale(0.95);
}
.admin-form-container button:focus {
    outline: none;
}
.admin-form-container .selectWrapper{
    position: relative;
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
}
.selectWrapper select{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #eee;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#filtros{
    position: relative; 
    left: 1450px;
    width: 120px;
    height: 100px;
    text-align: center;
}
