*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    background: radial-gradient(#fff, #ffd6d6);
}


.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo{
    padding-top: 8px;
    animation: looping 2.5s linear infinite;
}
/*
.logo:hover{
    animation: looping 2s linear infinite;
}*/


nav {
   flex: 1;
   text-align: right; 
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.wrapper {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: min-content;
}
.cart{
    background: none !important;
}
.cart img{
    position: relative;
    top: 8px;
}

.col-2 {
    flex-basis: 30%;
    min-width: 300px;
    padding-left: 50px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: black;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #563434;
  
}

.row {
    margin-top: 80px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.wrapper2 {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

ul {
    list-style-type: none;
}

.col-2 ul li{
    display: inline-block;
    
    
}

.col-2 ul li img {
    padding: 5px;
}

.slidershow {
    flex-basis: 100%;
    min-width: 300px;
    padding-left: 50px;
    overflow: hidden;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    max-width: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}

#prodtitle {
    margin-left: 25px;
    text-decoration: underline;
}

.button {
    margin-left: 50px;
}

.cart-button{
    color: #eee;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}

.col-4 {
    flex-basis: 30%;
    min-width: 300px;
    padding-left: 50px;
}

.col-4 img {
    max-width: 100%;
    cursor:zoom-in;
}

.overlay {
  position: relative;  
  bottom: 95px;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  padding-left: 50px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  
  }

.col-4:hover .overlay{
    opacity: 0.7;
}

/* .col-4 img:hover {
    opacity: 0.6;
} */

.col-4 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/* #modal {
    position: absolute;
    top: 0;
    left: 0;
} */

.popup {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.75);
    display:none;
    z-index: 1;
}

.popup .popup-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    padding:10px 20px;
    background:#eee;
}

.popup a.close-popup {
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
    font-weight:600;
    text-decoration:none;
}

.popup:target {
    display:block;
   
}

.modal-image{
      width: 100%;
      height: auto;
}

#pp {
    height: 230px;
}

.copyright{
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-align: center;
}

@keyframes looping {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}